/* styling for publications list */
.publication {
	line-height:1.2;
}

.publication .journal{
	font-style:italic;
}

.publication .me{
	font-weight:bold;
}

.peerrev .me{
    /* background:#daecfa; */
}


.peerrev::after {
	content:"";
    vertical-align:super;
    font-size:67%;
	font-style:italic;
	color:#cc3300;
}

.peerrev-poster::after{
	content:"2";
    vertical-align:super;
	font-style:italic;
    font-size:67%;
	color:#b3b3b3;
}

.peerrev-poster .me{
   /* background:#daecfa; */
}


.peerrev-presenter::after{
	content:"1";
    vertical-align:super;
	font-style:italic;
    font-size:67%;
	color:#b3b3b3;
}

.peerrev-presenter .me{
   /* background:#daecfa; */
}


.peerrev-poster-presenter::after{
	content:"1,2";
    vertical-align:super;
	font-style:italic;
    font-size:67%;
	color:#b3b3b3;
}

.peerrev-poster-presenter .me{
   /* background:#daecfa; */
}


.poster-presenter::after{
	content:"1,2";
    vertical-align:super;
	font-style:italic;
    font-size:67%;
	color:#b3b3b3;
}

.poster::after{
	content:"1";
    vertical-align:super;
	font-style:italic;
    font-size:67%;
	color:#b3b3b3;
}

.presenter::after{
	content:"1";
    vertical-align:super;
	font-style:italic;
    font-size:67%;
	color:#b3b3b3;
}

.publication a{
	text-decoration:none;
	color:inherit;
}

.publication a:hover{
	text-decoration:underline;
}

.publication .icon{
	float:right;
}

/* styling for image/maps list */
.mapdescription{
	line-height:1.2;
}
.mapdescription .mapdescription_src{
	font-size:80%;
	color:#b3b3b3;
}

/* button https://www.sanwebe.com/css3-button-generator */
.btn-class{
 display: inline-block;
 border:1px solid #E3E3E3;
 color: #5C5C5C;
 border-radius: 2px 2px 2px 2px;
 -webkit-border-radius: 2px 2px 2px 2px;
 -moz-border-radius: 2px 2px 2px 2px;
 font-family: Verdana;
 width: auto;
 height: auto;
 font-size: 16px;
 padding: 8px 24px;
 box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
 -moz-box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
 -webkit-box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
 text-shadow: 0 1px 0 #fff;
 background-image: linear-gradient(to top, #f2f2f2, #f2f2f2);
 background-color: #f2f2f2;
}
.btn-class:hover, .btn-class:active{
 border:1px solid #C2C2C2;
 color: #2E2E2E;
 box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
 -moz-box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
 -webkit-box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
 background-color: #CDE5F7;
}

a.top {
	text-decoration:none;
	color:inherit;
}

a.top:hover{
	text-decoration:underline;
}
