/* styling for publications list */
.publication {
	line-height:1.2;
}

.publication .journal{
	font-style:italic;
}

.publication .me{
	font-weight:bold;
}

.peerrev::after {
	content:"\00b9";
	font-style:italic;
	color:#cccccc;
}

.publication a{
	text-decoration:none;
	color:inherit;
}

.publication a:hover{
	text-decoration:underline;
}

.publication .icon{
	float:right;
}