/* styling for publications list */
.publication {
	line-height:1.2;
}

.publication .journal{
	font-style:italic;
}

.publication .me{
	font-weight:bold;
}

.peerrev::after {
	content:"\00b9";
	font-style:italic;
	color:#cccccc;
}

.peerrev-poster::after{
	content:"1,3";
    vertical-align:super;
	font-style:italic;
    font-size:60%;
	color:#cccccc;
}

.peerrev-presenter::after{
	content:"1,2";
    vertical-align:super;
	font-style:italic;
    font-size:60%;
	color:#cccccc;
}

.peerrev-poster-presenter::after{
	content:"1,2,3";
    vertical-align:super;
	font-style:italic;
    font-size:60%;
	color:#cccccc;
}

.poster-presenter::after{
	content:"2,3";
    vertical-align:super;
	font-style:italic;
    font-size:60%;
	color:#cccccc;
}

.poster::after{
	content:"2";
    vertical-align:super;
	font-style:italic;
    font-size:60%;
	color:#cccccc;
}

.presenter::after{
	content:"3";
    vertical-align:super;
	font-style:italic;
    font-size:60%;
	color:#cccccc;
}

.publication a{
	text-decoration:none;
	color:inherit;
}

.publication a:hover{
	text-decoration:underline;
}

.publication .icon{
	float:right;
}

/* styling for image/maps list */
.mapdescription{
	line-height:1.2;
}
.mapdescription .mapdescription_src{
	font-size:80%;
	color:#cccccc;
}